.main{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.pagWrap{
    display: flex;
    align-items: center;
    gap: 15px;
}

.pagText{
    font-family: 'Courier New', Courier, monospace;
    font-family: 600px;
    font-size: 20px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(197, 185, 187);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-family: 600px;
    border-radius: 50px;
    cursor: pointer;
}